@font-face {
  font-family: "RedHatText";
  src: url("../assets/fonts/static/RedHatText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RedHatText";
  src: url("../assets/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RedHatText";
  src: url("../assets/fonts/static/RedHatText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  font-family: "RedHatText", sans-serif;
  font-weight: 400;
  display: flex;
  gap: 30px;
  justify-content: center;
  background-color: #f4edeb;
  padding-top: 62px;
  padding-bottom: 40px;
  position: relative;
}

.product-container {
  width: calc(100% - 390px);
  max-width: 1000px;
}
.product-container_header {
  font-weight: 700;
  color: #260f08;
  margin-bottom: 24px;
}
.product-container_menu-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
}
.product-container_menu-list_product-card {
  width: calc((100% - 40px) / 3);
}
.product-container_menu-list_product-card_img-container {
  position: relative;
  margin-bottom: 38px;
}
.product-container_menu-list_product-card_img-container button {
  all: unset;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: white;
  border: 1px solid #87635a;
  color: #260f08;
  padding: 8px 32px;
  border-radius: 30px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.product-container_menu-list_product-card_img-container button img {
  width: 28px;
  height: auto;
}
.product-container_menu-list_product-card_img-container button:hover {
  color: #c73a0f;
  border-color: #c73a0f;
}
.product-container_menu-list_product-card_img-container button.active {
  background-color: #c73a0f;
  color: #ffffff;
  border-color: #c73a0f;
  width: 192px;
  display: flex;
  justify-content: space-between;
  gap: 0;
  box-sizing: border-box;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.product-container_menu-list_product-card_img-container button.active:hover {
  background-color: #952d0d;
}
.product-container_menu-list_product-card_img-container button.active .decrease, .product-container_menu-list_product-card_img-container button.active .increase {
  width: 10px;
  height: 10px;
  padding: 5px;
  box-sizing: content-box;
  border: 1px solid white;
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  color: white;
}
.product-container_menu-list_product-card_img-container button.active .decrease:hover, .product-container_menu-list_product-card_img-container button.active .increase:hover {
  background-color: white;
  color: #c73a0f;
  border-color: #c73a0f;
}
.product-container_menu-list_product-card_img-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
.product-container_menu-list_product-card_category {
  color: #87635a;
}
.product-container_menu-list_product-card_name {
  color: #260f08;
  font-size: 16px;
  font-weight: 600;
  margin: 6px 0;
}
.product-container_menu-list_product-card_price {
  color: #c73a0f;
  font-weight: 600;
}

.cart-container {
  width: 360px;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  background-color: white;
  padding: 25px 20px;
  border-radius: 10px;
  position: sticky;
  top: 20px;
  z-index: 10;
}
.cart-container_header {
  text-align: start;
  color: #c73a0f;
  margin-bottom: 8px;
}
.cart-container_text {
  color: #87635a;
  font-weight: bold;
  margin-top: 12px;
}
.cart-container_image {
  margin: 24px auto 0;
  display: block;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid rgba(135, 99, 90, 0.1);
}
.cart-item_info {
  width: 185px;
}
.cart-item_img {
  border: 1px solid #87635a;
  border-radius: 10px;
  padding: 2px;
  display: flex;
  cursor: pointer;
}
.cart-item_name {
  color: #260f08;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 6px;
  text-align: start;
}
.cart-item_price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item_quantity {
  color: #c73a0f;
  font-weight: 600;
  font-size: 15px;
}
.cart-item_price {
  color: #87635a;
  font-size: 15px;
}
.cart-item_total {
  color: #87635a;
  font-size: 15px;
  font-weight: 600;
}

.cart-total {
  margin-top: 22px;
}
.cart-total_price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #260f08;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}
.cart-total_price-container_total-price {
  font-weight: 700;
  font-size: 24px;
}
.cart-total_carbon-neutral-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 0;
  background-color: #f4edeb;
  border-radius: 8px;
}
.cart-total_carbon-neutral-container_text {
  color: #260f08;
  font-size: 15px;
}
.cart-total_carbon-neutral-container_text span {
  font-weight: 600;
}
.cart-total_confirm-order {
  all: unset;
  margin-top: 20px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: #c73a0f;
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 12px 16px;
  border-radius: 34px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cart-total_confirm-order:hover {
  background-color: #952d0d;
}

.modal-container {
  width: 580px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-container::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.modal-container_modal-content {
  padding: 20px;
}
.modal-container_img {
  display: block;
}
.modal-container_header {
  color: #260f08;
  font-weight: 700;
  font-size: 32px;
  margin: 22px 0 8px;
}
.modal-container_text {
  color: #87635a;
  font-size: 15px;
  margin-bottom: 32px;
}
.modal-container_wrapper {
  background-color: #fcf9f7;
  padding: 20px;
  border-radius: 10px;
}
.modal-container_order-container_price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #260f08;
  font-weight: 400;
  font-size: 16px;
  padding-top: 24px;
}
.modal-container_order-container_price-container_total-price {
  font-weight: 700;
  font-size: 24px;
}
.modal-container_new-order-btn {
  all: unset;
  margin-top: 20px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: #c73a0f;
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 12px 16px;
  border-radius: 34px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.modal-container_new-order-btn:hover {
  background-color: #952d0d;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid rgba(135, 99, 90, 0.1);
}
.order-item_image {
  display: block;
  width: 68px;
  height: auto;
  border-radius: 8px;
}
.order-item_info {
  display: flex;
  align-items: center;
  gap: 14px;
}
.order-item_name {
  color: #260f08;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 12px;
}
.order-item_price-container {
  display: flex;
  align-items: center;
  gap: 14px;
}
.order-item_total {
  color: #260f08;
  font-size: 15px;
  font-weight: 600;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 4px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */