@font-face {
    font-family: 'Intel';
    src: url('../assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Intel';
    src: url('../assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Intel';
    src: url('../assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Intel-Variable';
    src: url('../assets/fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
    font-family: 'Intel';
    font-weight: 400;
    color: white;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.main_card {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 38px 24px;
    border-radius: 3%;
}

.user_info {
    text-align: center;
    margin-bottom: 24px;
    padding: 0 22px;
}

.user_avatar {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 24px;
}

.user_name {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 8px;
}

.user_city {
    color: #c5f82a;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 24px;
}

.user_job {
    font-family: 'Intel-Variable';
    font-size: 16px;
}

.user_links_list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.user-link {
    font-weight: 600;
    display: flex;
    background-color: #333333;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.user-link:hover {
    background-color: #c5f82a;
    color: #1f1f1f;
}

.attribution {
    position: absolute;
    bottom: 10px;
}

.attribution a {
    text-decoration: underline;
}